export NIX_FLAGS="--override-input nixpkgs nixpkgs"

use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  mkdir -p .direnv
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile" $NIX_FLAGS $@)"
}

use_flake .
